@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraLight.woff"), url("../fonts/Raleway-ExtraLight.woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff"), url("../fonts/Raleway-Light.woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff"), url("../fonts/Raleway-Regular.woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff"), url("../fonts/Raleway-Medium.woff2");
}
@font-face {
  font-family: "Marmelad";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Marmelad-Regular.woff"), url("../fonts/Marmelad-Regular.woff2");
}
* {
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 24;
}

@media (max-width: 1366px) {
  header {
    background-color: red;
  }
  header a {
    color: red;
  }
}
@media (max-width: 768px) {
  header {
    background-color: goldenrod;
  }
  header a {
    color: red;
  }
}
@media (max-width: 320px) {
  header {
    background-color: gainsboro;
  }
  header a {
    color: red;
  }
}
@media (max-width: 1366px) {
  .main {
    background-color: rgb(30, 30, 147);
  }
  .main a {
    color: red;
  }
  .main .header {
    font-family: Marmelad-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 24;
  }
  .main .headerNew {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 24;
  }
}
@media (max-width: 768px) {
  .main {
    background-color: rgb(14, 62, 14);
  }
  .main a {
    color: red;
  }
  .main .header {
    font-family: Marmelad;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
  .main .headerNew {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .main {
    background-color: rgb(44, 42, 42);
  }
  .main a {
    color: red;
  }
  .main .header {
    font-family: Marmelad-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 24;
  }
  .main .headerNew {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 24;
  }
}
@media (max-width: 1366px) {
  .form {
    background-color: blue;
  }
  .form a {
    color: red;
  }
}
@media (max-width: 768px) {
  .form {
    background-color: pink;
  }
  .form a {
    color: red;
  }
}
@media (max-width: 320px) {
  .form {
    background-color: wheat;
  }
  .form a {
    color: red;
  }
}
@media (max-width: 1366px) {
  footer {
    background-color: yellow;
  }
}
@media (max-width: 768px) {
  footer {
    background-color: green;
  }
  footer a {
    color: red;
  }
}
@media (max-width: 320px) {
  footer {
    background-color: grey;
  }
  footer a {
    color: red;
  }
}

/*# sourceMappingURL=style.css.map */
