* {
    margin: 0;

    text-decoration: none;
}

a {
    color: $general-text;
}

footer a{
    color: $background-main;
}

button {
    border: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
}

input {
    border: 0;
    background-color: $form-yellow;
}

