$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1366px;

$background-main: #FFFBEC;
$background-footer: #372E11;
$button-yellow: #FFE182;
$button-grey: #EDEDED;
$form-yellow: #FFF8E1;
$input-text: #8E825C;
$general-text: #372E11;