@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Raleway-ExtraLight.woff"), url("fonts/Raleway-ExtraLight.woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Raleway-Light.woff"), url("fonts/Raleway-Light.woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Raleway-Regular.woff"), url("fonts/Raleway-Regular.woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Raleway-Medium.woff"), url("fonts/Raleway-Medium.woff2");
}
@font-face {
  font-family: "Marmelad";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Marmelad-Regular.woff"), url("fonts/Marmelad-Regular.woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Roboto-Regular.woff"), url("fonts/Roboto-Regular.woff2");
}
@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/PTSans-Regular.woff"), url("fonts/PTSans-Regular.woff2");
}
.container {
  width: 360px;
  padding: 0 0px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 0px;
    margin: auto;
  }
}
@media (min-width: 1366px) {
  .container {
    width: 1300px;
    padding: 0 0px;
    margin: auto;
  }
}
* {
  text-decoration: none;
}

a {
  color: #372E11;
}

body {
  background-color: #FFFBEC;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

footer a {
  color: #FFFBEC;
}

button {
  border: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
}

input {
  border: 0;
  background-color: #FFF8E1;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8px 20px;
}

.logo {
  background-image: url("img/logo-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 42px;
  height: 42px;
}

.phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.eng {
  margin-left: 5px;
  opacity: 0.5;
}

.enter {
  display: none;
}

.header-menu__desktop {
  display: none;
}

.header-menu__create-account {
  display: none;
}

.burger {
  display: block;
  background-image: url("img/burger-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }
  .logo {
    background-image: url("img/logo-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 86px;
    height: 86px;
  }
  .phone {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
  }
  .language {
    font-size: 20px;
    line-height: 23px;
  }
  .eng {
    margin-left: 5px;
    opacity: 0.5;
  }
  .enter {
    display: block;
    font-size: 18px;
    line-height: 23px;
  }
  .header-menu__desktop {
    display: none;
  }
  .header-menu__create-account {
    display: none;
  }
  .burger {
    display: block;
    background-image: url("img/burger-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
  }
}
.main-header {
  font-family: Marmelad;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 24px;
}

.main-header__tablettext {
  display: none;
}

.main-header__mobiletext {
  display: block;
}

.main-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 24px;
}

.main-bg {
  background-image: url("img/bg-flowers-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.main-content__position {
  padding-top: 114px;
  padding-bottom: 132px;
  margin-left: 20px;
  margin-right: 20px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.button-yellow {
  background-color: #FFE182;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
}

.button-grey {
  background-color: #EDEDED;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .main-header {
    font-family: "Marmelad";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    text-align: center;
    margin-bottom: 40px;
  }
  .main-header__tablettext {
    display: block;
  }
  .main-header__mobiletext {
    display: none;
  }
  .main-text {
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    margin-bottom: 60px;
  }
  .main-bg {
    background-image: url("img/bg-flowers-tablet.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .main-content__position {
    padding-top: 60px;
    padding-bottom: 152px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 60%;
    margin: auto;
  }
  .button-yellow {
    background-color: #FFE182;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
  }
  .button-grey {
    background-color: #EDEDED;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
  }
}
.form {
  display: flex;
  flex-direction: column;
}

.captcha {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.form-bg {
  background-image: url("img/form-bg.png");
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: -840px;
  padding: 20px;
}

.form-wrapper {
  background-color: #FFFBEC;
  padding: 20px;
}

.form-header {
  font-family: "Marmelad";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.form-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 32px;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.form-input__name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form-input__input {
  margin-top: 10px;
  width: auto;
  padding: 16px;
  border-radius: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #8E825C;
}

.captcha-button__wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 8px;
  margin-top: 20px;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  margin-top: 20px;
}

.form-button {
  margin-top: 20px;
  background-color: #FFE182;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
}

.captcha_img {
  background-image: url("img/captcha.png");
  background-repeat: no-repeat;
  width: auto;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkbox-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.button-captcha__yellow {
  background-color: #FFE182;
  width: 100%;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.button-captcha__grey {
  background-color: #EDEDED;
  width: 100%;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    margin-top: 40px;
  }
  .captcha {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "form1 captcha" "form2 buttons" "form3 license";
  }
  .form-input__password {
    grid-area: form1;
    width: 90%;
  }
  .form-input__confirm {
    grid-area: form2;
    width: 90%;
  }
  .form-input__symbols {
    grid-area: form3;
    width: 90%;
  }
  .hide {
    display: none;
  }
  .form-bg {
    background-image: url("img/form-bg.png");
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-position-x: -640px;
    padding: 40px;
  }
  .form-wrapper {
    padding: 32px;
  }
  .form-header {
    font-family: "Marmelad";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
  }
  .form-text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-top: 40px;
  }
  .form-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .form-input__name {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .form-input__input {
    margin-top: 10px;
    width: auto;
    padding: 16px;
    border-radius: 10px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8E825C;
  }
  .form-tablet__felx {
    width: 100%;
  }
  .captcha-button__wrapper {
    grid-area: buttons;
    padding-top: 30px;
  }
  .checkbox-wrapper {
    grid-area: license;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: flex-start;
    margin-top: 20px;
  }
  .form-button {
    margin-top: 45px;
    background-color: #FFE182;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 10px;
  }
  .captcha_img {
    grid-area: captcha;
    background-image: url("img/captcha.png");
    background-repeat: no-repeat;
    background-size: 90%;
  }
  .button-captcha__yellow {
    background-color: #FFE182;
    width: 100%;
    border-radius: 10px;
  }
  .button-captcha__grey {
    background-color: #EDEDED;
    width: 100%;
    border-radius: 10px;
  }
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px #0E493F solid;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #0E493F;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 9px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer {
  background-color: #372E11;
  color: #FFFBEC;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.button-footer {
  background-color: #FFE182;
  width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  text-align: left;
  margin-top: 16px;
  border-radius: 10px;
  background-image: url("/img/Envelope.svg");
  background-repeat: no-repeat;
  background-position-x: 105px;
  background-position-y: 8px;
}

.contacts-header {
  font-family: "Marmelad";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 24px;
}

.contacts-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.social {
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
}

.instagram {
  margin-top: 20px;
}

.facebook {
  margin-top: 16px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.mail {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 24px;
}

.rights {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #B9B3B3;
}

@media (min-width: 768px) {
  .footer {
    background-color: #372E11;
    color: #FFFBEC;
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "adress contacts" "social . " "rights . ";
    flex-direction: column;
    gap: 48px;
  }
  .adress {
    grid-area: adress;
  }
  .button-footer {
    background-color: #FFE182;
    width: 80%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 60px;
    text-align: left;
    margin-top: 16px;
    border-radius: 10px;
    background-image: url("/img/Envelope.svg");
    background-repeat: no-repeat;
    background-position-x: 135px;
    background-position-y: 8px;
  }
  .contacts-header {
    font-family: "Marmelad";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .contacts-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
  .social {
    grid-area: social;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
  }
  .instagram {
    margin-top: 20px;
  }
  .facebook {
    margin-top: 16px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    grid-area: contacts;
    margin-left: 100px;
  }
  .mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 24px;
  }
  .rights {
    grid-area: rights;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #B9B3B3;
  }
}

/*# sourceMappingURL=style.css.map */
