@include desktop {
  header {
    background-color: $background-main;
  }
}

@include tablet {
  header {
    background-color: $background-main;
  }
}

@include mobile {
  header {
    background-color: $background-main;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px 20px;
  }

  .logo {
    background-image: url('img/logo-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 42px;
    height: 42px;
  }

  .phone {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .language {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .eng {
    margin-left: 5px;
    opacity: 0.5;
  }

  .burger {
    background-image: url('/img/burger-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
  }
}
