@include desktop {
    footer {
        background-color: $background-footer;
        
    }
}

@include tablet {
    footer {
        background-color: $background-footer;
    }
}

@include mobile {
    .footer {
        background-color: $background-footer;
        color: $background-main;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .button-footer {
        background-color: $button-yellow;
        width: 50%;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 30px;
        text-align: left;
        margin-top: 16px;
        border-radius: 10px;

        background-image: url('/img/Envelope.svg');
        background-repeat: no-repeat;
        background-position-x: 105px;
        background-position-y: 8px;
    }

    .contacts-header {
        font-family: 'Marmelad';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 24px;
    }

    .contacts-text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        margin-top: 16px;
    }

    .social {
        display: flex;
        flex-direction: column;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
    }

    .instagram {
        margin-top: 20px;
    }

    .facebook {
        margin-top: 16px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
    }

    .mail {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;

        margin-top: 24px;
    }

    .rights {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #B9B3B3;
    }
}