@include desktop {
    footer {
        background-color: $background-footer;
        
    }
}

@include tablet {
    footer {
        background-color: $background-footer;
    }
}

@include mobile {
    footer {
        background-color: $background-footer;
    
    }
}