
@media (max-width: $breakpoint-desktop) {
    .main {
        background-color: $background-main;

        .header {
            font-family: Marmelad;
            font-style: normal;
            font-weight: 400;
            font-size: 24;
        }

        .headerNew {
            font-family: Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 24;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .main {
        background-color: $background-main;

        .header {
            font-family: Marmelad;
            font-style: normal;
            font-weight: 400;
            font-size: 24;
        }

        .headerNew {
            font-family: Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .main {
        background-color: $background-main;
        padding: 20px;
    

        .header {
            font-family: Marmelad;
            font-style: normal;
            font-weight: 400;
            font-size: 24;
        }

        .headerNew {
            font-family: Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 24;
        }
    }
}