.main-header {
    font-family: Marmelad;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    margin-bottom: 24px;

}

.main-header__tablettext {
    display: none;
}

.main-header__mobiletext {
    display: block;
}

.main-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    margin-bottom: 24px;
}

.main-bg {
    background-image: url('img/bg-flowers-mobile.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-content__position {
    padding-top: 114px;
    padding-bottom: 132px;
    margin-left: 20px;
    margin-right: 20px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

.button-yellow {
    background-color: $button-yellow;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
}

.button-grey {
    background-color: $button-grey;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
}
