@media (max-width: $breakpoint-desktop) {
    .main {
        background-color: rgb(30, 30, 147);
    
        a {
            color: $red;
        }

        .header {
            font-family: Marmelad-Regular;
            font-style: normal;
            font-weight: 400;
            font-size: 24;
        }

        .headerNew {
            font-family: Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 24;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .main {
        background-color: rgb(14, 62, 14);
    
        a {
            color: $red;
        }
        .header {
            font-family: Marmelad;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
        }

        .headerNew {
            font-family: Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .main {
        background-color: rgb(44, 42, 42);
    
        a {
            color: $red;
        }

        .header {
            font-family: Marmelad-Regular;
            font-style: normal;
            font-weight: 400;
            font-size: 24;
        }

        .headerNew {
            font-family: Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 24;
        }
    }
}