@media (max-width: $breakpoint-desktop) {


    .hide {
        display: none;
    }
}

@media (max-width: $breakpoint-tablet) {


    .hide {
        display: none;
    }
}

@media (max-width: $breakpoint-mobile) {
    .form {
        background-color: $background-main;
    
    }

    .hide {
        display: none;
    }
}